{% extends 'layouts/home.html' %} {% block tittle %} Shortened {% endblock %} {% block contents %}
<nav class="navbar navbar-expand navbar-pink bg-pink">
    <div class="container-fluid" style="background-color: #fed6e3"  align="center" >

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto" >
                <li class="nav-item-n">
                    <a style="background-color: #fed6e3; color: black; font-size: 20px" class="nav-link active" aria-current="page" href="{{url_for('users')}}">Usuarios</a>
                </li>
                <li class="nav-item-l">
                    <a style="background-color: #fed6e3; color: black;font-size: 20px" class="nav-link active"   href="{{url_for('listUrls')}}">Urls</a>
                </li>
                <li class="nav-item-m">
                    <a style="background-color: #fed6e3; color: black; font-size: 20px" class="nav-link active"  href="{{url_for('login')}}">Login</a>
                </li>
                <li class="nav-item-o">
                    <a style="background-color: #fed6e3; color: black; font-size: 20px" class="nav-link active"  href="{{url_for('logout')}}">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<h1 style="margin-top: 3rem" class="display-4" align="center">Crear Urls</h1>

<h2 style="margin-top: 2rem">Url Shortened: <a href="{{ url_to_shorten }}"> {{ url_show }}</a></h2>


{% endblock %}

{% block login_css %}

<style type="text/css">
    @import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

    .navbar .nav-item-l:not(:last-child) {

        margin-right: 20px;

    }
    .navbar .nav-item-m:not(:last-child) {

        margin-right: 20px;

    }
    .navbar .nav-item-n:not(:last-child) {

        margin-left: 790px;
        margin-right: 18px;

    }
    body {
        background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
        background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
        background-attachment: fixed;
        background-repeat: no-repeat;

        font-family: 'Vibur', cursive;
   
        font-family: 'Abel', sans-serif;
        opacity: .95;

    }
</style>

{% endblock %}